<table>
  <tbody>
    <% chats.each do |chat| %>
      <% if chat.user == current_user %>
        <tr class="row justify-content-right my-chat">
          <td class="col-lg-8">
            <div class="col-11 float-right text-right user-name">
              <%= link_to user_path(chat.user.id) do %>
                <%= chat.user.user_name %><br>
              <% end %>
            </div>
            <div class="says captions">
              <p><%= simple_format(chat.message) %></p>
              <span><%= l chat.created_at, format: :short %></span>
            </div>
          </td>
          <td>
            <%= link_to attachment_image_tag(chat.user, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "profile-image align-top user-image"), user_path(chat.user.id) %>
          </td>
        </tr>
      <% else %>
        <tr class="row justify-content-right my-chat">
          <td class="col-lg-1">
            <%= link_to attachment_image_tag(chat.user, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "profile-image align-top user-image"), user_path(chat.user.id) %>
          </td>
          <td class="col-lg-10 user-name">
            <%= link_to user_path(chat.user.id) do %>
              <%= chat.user.user_name %><br>
            <% end %>
            <div class="other-user-says captions">
              <p><%= simple_format(chat.message) %></p>
              <span><%= l chat.created_at, format: :short %></span>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
