$('#follow_button_<%= @user.id %>').html("<%= j(render 'public/relationships/follow_button', user: @user) %>");
$('#following_button').html('<%= link_to follows_user_path(@user.id), id: "user-btn", class: "button" do %><span>FOLLOW </span><%= @user.following.count %><% end %>');
$('#follower_button').html('<%= link_to followers_user_path(@user.id), id: "user-btn", class: "button"  do %><span>FOLLWER </span><%= @user.followers.count %><% end %>');
