
  <div class="section">

    <div class="sliderArea">
      <div class="full-screen-o slider">
        <%= image_tag "dogs02.jpg", alt: "dogs icon", class: "slider" %>
        <%= image_tag "dogs05.jpg", alt: "dogs icon", class: "slider" %>
        <%= image_tag "dogs03.jpg", alt: "dogs icon", class: "slider" %>
        <%= image_tag "dogs04.jpg", alt: "dogs icon", class: "slider" %>
        <%= image_tag "dogs01.jpg", alt: "dogs icon", class: "slider" %>
      </div>
    </div>

  </div>

  <div id="web-title">
    <p>ようこそ!</p>
  </div>

  <div class="web-text">
    <p>ここでは皆さんの飼っている様々なペットを投稿できます。<br>
    　 もちろん、ほかに人の投稿した写真も見れます。<br>
       さらに、気になったユーザーをフォローしたり、<br>
       投稿からチャットを通じてコミュニケーションをとることがでるので、<br>
       お友達を作ったりしてぜひ楽しんでください。<br>
    </p>
  </div>





  <div class="row mt-5 top-btns">
  <% if user_signed_in? %>
    <div class="col-lg-4"></div>
    <div class="col-lg-4 button">
      <%= link_to "マイペット", about_path, id: "top-about-btn" %>
    </div>
    <div class="col-lg-4"></div>
  <% else %>
    <div class="col-lg-2 mr-5"></div>
    <div class="col-lg-3 ml-5 button">
      <%= link_to "新規登録", new_user_registration_path, id: "top-signup-btn" %>
    </div>
    <!--<div class="col-lg-1"></div>-->
    <div class="col-lg-3 ml-5 button">
      <%= link_to "ログイン", new_user_session_path, id: "top-login-btn" %>
    </div>
    <div class="col-lg-1"></div>
    <div class="guet-login"><%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, id: "guest_login" %></div>


  <% end %>
  </div>



