<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title">Information edit</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

    <p class="error"><%= flash[:error] %></p>
    <%= form_with model: @user, local: true do |f| %>
      <table class="info-edit-table">
        <tr>
          <th class="label">Name</th>
          <td>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            <% if @user.errors.include?(:name) %>
              <p class="attention"><%= @user.errors.full_messages_for(:name).first %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="label">Email</th>
          <td>
            <%= f.text_field :email, class: 'form-control form-font' %>
            <% if @user.errors.include?(:email) %>
              <p class="attention"><%= @user.errors.full_messages_for(:email).first %>
            <% end %>
            </td>
        </tr>
        <tr>
          <th class="label">Phone number</th>
          <td>
            <%= f.text_field :telephone_number, class: 'form-control form-font' %>
            <% if @user.errors.include?(:telephone_number) %>
              <p class="attention"><%= @user.errors.full_messages_for(:telephone_number).first %>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="mt-5 text-center">
        <%= f.submit "UPDATE", class: "edit-btn button" %>
      </div>
      <div class="action-unsubscribe mt-5 pt-3">
        <%= link_to "退会", unsubscribe_path(current_user), id: "withdraw-btn", class: "button" %>
      </div>
      <div class="col-lg-2"></div>
      </div>
    <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

