<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 mb-5">
      <div id="title"><%= @user.user_name %><span>'s page</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">

      <div class="user-info" style="text-align: center;">
        <p>
          <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "dogs-icon.jpg", size:'100x100', class: "user-image" %>
        </p>
        <% if @user == current_user %>
          <%= link_to edit_mypage_path(@user.id) do %>
            <p class="button prf-edit-btn">
            <i class="fas fa-user-cog fa-2x mt-1" style="color: #2a4073;"></i>
            </p>
          <% end %>
        <% else %>
          <div class="mt-4">
            <div id="follow_button_<%= @user.id %>">
              <%= render 'public/relationships/follow_button', user: @user %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-7">

      <div class="user_buttons">
        <div class="row mt-2">
          <div class="col-lg-3 mt-5">
            <p id="following_button">
              <%= link_to follows_user_path(@user.id), id: "user-btn", class: "button" do %>
                <span>FOLLOW </span><%= @user.following.count %>
              <% end %>
            </p>
          </div>
          <div class="col-lg-3 mt-5">
            <p id="follower_button">
              <%= link_to followers_user_path(@user.id), id: "user-btn", class: "button"  do %>
                <span>FOLLWER </span><%= @user.followers.count %>
              <% end %>
            </p>
          </div>
          <div class="col-lg-3 mt-5">
            <p>
              <%= link_to 'FAVORITES', my_favorites_path(@user.id), id: "user-btn", class: "button"  %>
            </p>
          </div>
          <div class="col-lg-3 mt-5">
            <% if @user == current_user %>
              <%= link_to 'NEW POST', new_post_path, id: "user-btn", class: "button"  %>
            <% else %>
              <%= link_to 'CHAT', chat_path(@user.id), id: "chat-btn", class: "button"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">

      <div class="captions mt-4 mb-5 d-flex">
        <h5 class="heading mb-3 mx-4">Introduction</h5>
        <p class="self-introduction" ><%= simple_format(@user.self_introduction) %></p>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">


      <div class="posts">
        <h3 class="heading mb-4">Posts</h3>

        <div class="search mb-3 ml-2 text-center">
          <%= render 'public/searches/search' %>
        </div>

        <div class="row">
        <% @posts.each do |post|%>
        <div class="col-lg-4">

          <%= link_to post_path(post.id) do %>
            <% post.post_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 200, 200 %>
            <% end %>
          <% end %>


          <p class="post-caption mb-5"><%= post.caption %></p>
        </div>
        <% end %>

        </div>

      </div>
      <div class="paginate">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

