<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div id="title">Search results <span class="ml-5">"<%= @search %>"</span></div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <table class="table text-center">
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
          <th></th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted? %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
            <td><%= link_to "DETAIL", admin_user_path(user.id), class: "button", id: "detail-btn" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

