<div class="container">
  <div class="row mb-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div id="title">Search results <span class="ml-5">"<%= @search %>"</span></div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="results mt-5">
    <% if @range == "User" %>
      <table class="table follow-table">
        <% @users.each do |user| %>
          <tr>
            <td></td>
            <td>
              <%= attachment_image_tag user, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "user-image" %>
            </td>
            <td class="user-name">
              <%= link_to user_path(user.id) do %>
                <%= user.user_name %>
              <% end %>
            </td>
            <td>
              <div id="follow_button_<%= user.id %>">
                <%= render 'public/relationships/follow_button', user: user %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="user-paginate mt-5">
        <%= paginate @users %>
      </div>
    <% else %>
    <%= render 'public/posts/post', posts: @posts %>
    <% end %>
  </div>
</div>
