<div class="container admin-show-container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title">User detail</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <table class="table user-table" >

        <tr class="text-center">
          <th>ID</th>
          <th>画像</th>
          <th>名前</th>
          <th>ユーザネーム</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          <th>会員ステータス</th>
        </tr>

        <tr class="text-center">
          <td><%= @user.id %></td>
          <td><%= attachment_image_tag @user, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "user-image" %></td>
          <td><%= @user.name %></td>
          <td><%= @user.user_name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.telephone_number %></td>
          <td>
            <% if @user.is_deleted? %>
              <p style="color: #ec6d51">退会</p>
            <% else %>
              <p style="color: #316745;">有効</p>
            <% end %>
          </td>
        </tr>

      </table>
      <div class="action-edit mt-5 pt-3">
        <%= link_to 'EDIT', edit_admin_user_path(@user.id), class: "button", id: "user-edit-btn" %>
      </div>


    </div>
    <div class="col-lg-1"></div>
  </div>
</div>








