<!DOCTYPE html>
<html>
  <head>
    <title>PETS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


    <script src="https://kit.fontawesome.com/792068b81e.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand">
        <div class="container">
          <a class="navbar-brand center-nav-title left-nav-title" id="navbar-content-center" href="/"><%= image_tag "logo.png"%></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto nav-list" id="navbar">
            <% if admin_signed_in? %>
              <li class="nav-item"><%= link_to '会員一覧', admin_users_path, class: 'nav-link', id: 'nav-link1' %></li>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, class: 'nav-link', id: 'nav-link2' %></li>
            <% elsif user_signed_in? %>
              <li class="nav-item"><%= link_to 'マイページ', "/users/#{current_user.id}", class: 'nav-link', id: 'nav-link3' %></li>
              <li class="nav-item"><%= link_to 'マイペット', about_path, class: 'nav-link', id: 'nav-link4' %></li>
              <li class="nav-item"><%= link_to 'ランキング', ranking_path, class: 'nav-link', id: 'nav-link5' %></li>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link', id: 'nav-link6' %></li>
              <li class="nav-item">
                <%= link_to notifications_path, class: 'nav-link', id: 'nav-link10' do %>
                  <% if unchecked_notifications.any? %>
                      <i class="far fa-bell fa-lg 2x"></i>
                      <i class="fas fa-circle n-circle fa-stack-1x"></i>
                  <% else %>
                      <i class="far fa-bell fa-lg"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "/users/#{current_user.id}/edit", class: 'nav-link', id: 'nav-link7' do %>
                  <i class="fas fa-cog fa-lg 2x"></i>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link', id: 'nav-link8' %></li>
              <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link', id: 'nav-link9' %></li>
              <li class="nav-item"><%= link_to 'ゲスト', homes_guest_sign_in_path, method: :post, class: 'nav-link', id: 'nav-link11' %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <main>
      <%= yield %>
    </main>


    <footer>
      ©All rights reserved by ishida
    </footer>


  </body>
</html>
