<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title"><%= @post.user.user_name %><span>'s dog</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">

      <div class="post user-name my-5">
        <%= attachment_image_tag @post.user, :image, :fill, 60, 60, fallback: "dogs-icon.jpg", size:'60x60', class: "user-image mr-3 ml-4"%>
        <%= link_to user_path(@post.user.id) do %>
          <span style="font-size: 18px;"><%= @post.user.user_name %></span>
        <% end %>

        <!--ログインユーザーなら編集ボタン、そうでなければお気に入りボタンを表示-->
        <% if @post.user_id == current_user.id %>
          <%= link_to edit_post_path(@post.id) do %>
            <i class="fas fa-edit show-icon fa-2x" style="color: #0f2350;"></i>
          <% end %>
        <% else %>
          <p id="favorite_button_<%= @post.id %>" class="show-icon">
            <%= render 'public/favorites/favorite', post: @post %>
          </p>
        <% end %>


        <div class="user-post my-3">
          <div id="slider">
            <% @post.post_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 500, 500 %>
            <% end %>
          </div>
        </div>
        <div></div>
        <div class="my-3">
          <%= simple_format(render_with_hashtags(@post.caption), class: "show-caption captions") %>
          <a href="" class="more captions">Read more...</a>
        </div>

      </div>

      <div id="comment_button_<%= @post.id %>" class="mt-5 mb-3">
        <%= render 'public/comments/comment', post: @post %>
      </div>

      <div id="new-comment" class="mb-3">
        <%= render 'public/comments/new_comment', {post: @post, comment: @comment} %>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

